/* hide fields in registration form*/
fieldset.sweet-candy
{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

/* Style used in user account area template */
table.table tbody td
{
    vertical-align: middle;
}

p[id="user_ip_addresses"]
{
    cursor: pointer;
    border: 2px solid black;
}
.tooltip-inner {
    background-color: lightslategrey;
}