{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1>Mot de passe oublié</h1>

        {{ form_start(forgotPasswordForm) }}
            {{ form_row(forgotPasswordForm.email) }}
            <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(forgotPasswordForm) }}
    </div>
{% endblock %}