<!DOCTYPE HTML>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico') }}" type="image/x-ico">
    <title>Maintenance</title>
</head>
<body>
    <header>
        <h1>Site en maintenance</h1>
    </header>
    <main>
        <p>Malheureusement le site est en maintenance pour le moment.</p>
    </main>
</body>
</html>