<h1>Réinitialiser votre mot de passe</h1>

<p>
    Pour réinitialiser votre mot de passe, merci de bien vouloir cliquer sur le lien ci-dessous :
    <a href="{{ absolute_url(path('app_retrieve_credential', {'id': user.id, 'token': user.forgotPasswordToken})) }}">
        Réinitialiser votre mot de passe
    </a>
    Ce lien expire dans 15 minutes. Passé ce délai, ce lien ne sera plus valide et il vous faudra renouveler votre demande.
</p>

<p>
    Si vous n'êtes pas l'auteur de cette demande, ignorer ce message.
</p>

<img src="{{ email.image('@images/footer.jpg') }}" alt="footer-mail">