<h1>Confirmation de votre adresse e-mail</h1>

<p>
    Pour activer votre compte, merci de bien vouloir cliquer sur le lien ci-dessous :
    <a href="{{ absolute_url(path('app_verify_account', {'id': userId, 'token': registrationToken})) }}">
        Confirmer mon adresse email
    </a>
    Ce lien expire le {{ tokenLifeTime }}
</p>

<img src="{{ email.image('@images/footer.jpg') }}" alt="footer-mail">