<h1>Compte utilisateur crée vie Discord</h1>

<p>
    Votre compte utilisateur a été créé avec le mot de passe aléatoire,
    nous vous conseillons de le modifier via votre espace personnel.
</p>
<details>
    <summary>Cliqué pour afficher/caché votre mot de passe généré aléatoirement</summary>
    <strong>{{ randomPassword }}</strong>
</details>

<p>
    Vous pouvez vous connecter avec l'adresse email que vous avez indiqué sur discord et le mot de passe ci-dessus.
</p>

<img src="{{ email.image('@images/footer.jpg') }}" alt="footer-mail">