{% extends 'base.html.twig' %}
{% block body %}
    <main class="container">
        <h1>Erreur 500</h1>
        <p>Cette page s'affiche car une erreur 500 a eu lieu.</p>
        <p>Retour à la <a href="{{ path('app_home') }}">page d'accueil</a></p>
    </main>
{% endblock %}